<mat-card [ngClass]="{'wish-card': true, 'unavailable': !isAvailable(), 'background-red': isRed(),
'background-yellow': isYellow(), 'background-green': isGreen(), 'background-blue': isBlue(), 'highlight': isHighlighted()}">
  <div class="wish-form">
    <form class="wish-full-width">
      <div *ngIf="!orderMode" class="wish-line">
        <select-toggle [selected]="wish.selected"
                       (selectionChange)="toggleSelection()"></select-toggle>
        <mat-form-field class="wish-full-width">
          <input matInput placeholder="Wunsch" [(ngModel)]="wish.caption" (change)="onWishChange()" name="editCaption">
        </mat-form-field>
        <donate-button *ngIf="isManagedList() && (isAvailable() || isMyPresent())" mat-icon-button [reserved]="isMyPresent()"
                       (click)="reserveClicked()">
        </donate-button>
        <button #settings mat-icon-button [disabled]="orderMode"
                (click)="settingsClicked()" matTooltip="Eigenschaften bearbeiten">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div *ngIf="orderMode" class="description">{{wish.caption}}</div>

      <div *ngIf="!orderMode" class="wish-line">
        <mat-form-field *ngIf="!orderMode" class="wish-full-width">
        <textarea matInput placeholder="Beschreibung" [(ngModel)]="wish.description" [disabled]="orderMode" matTextareaAutosize
                  (change)="onWishChange()" matAutosizeMinRows="2" matAutosizeMaxRows="5" name="editDescription"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="orderMode" class="description">{{wish.description}}</div>

      <link-edit [link]="wish.link"
                 [editMode]="!orderMode"
                 [viewMode]="wish.link && orderMode && !wish.caption && !wish.description"
                 (linkChanged)="onLinkChanged(null, $event)">
      </link-edit>
      <link-edit *ngFor="let alternateLink of wish.alternateLinks; let indexOfLink=index;"
                 [link]="alternateLink"
                 [editMode]="!orderMode"
                 [viewMode]="false"
                 (linkChanged)="onLinkChanged(indexOfLink, $event)">
      </link-edit>

      <price-information *ngIf="wish.groupGift && isManagedList() " [wish]="wish"></price-information>
      <donor-viewer *ngFor="let donation of wish.donations; let first = first" [first]="first" [donation]="donation" [userName]="user"
                    [loggedIn]="true" [myPresent]="isMyPresent()">
      </donor-viewer>
    </form>
  </div>
</mat-card>
