<mat-card [ngClass]="{'wish-card': true, 'unavailable': !isAvailable(), 'background-red': isRed(),
'background-yellow': isYellow(), 'background-green': isGreen(), 'background-blue': isBlue(), 'highlight': isHighlighted()}">
  <div class="wish-form">
    <form class="wish-full-width">
      <div *ngIf="!orderMode" class="wish-line">
        <select-toggle [selected]="wish.selected"
                       (selectionChange)="toggleSelection()"></select-toggle>
        <mat-form-field class="wish-full-width">
          <input matInput placeholder="Wunsch" [(ngModel)]="wish.caption" (change)="onWishChange()" name="editCaption">
        </mat-form-field>
        <button mat-icon-button (click)="groupGiftClicked()" matTooltip="{{getGroupGiftTooltip()}}">
          <mat-icon *ngIf="!isGroupGift()">group</mat-icon>
          <mat-icon *ngIf="isGroupGift()">group_off</mat-icon>
        </button>
        <button *ngIf="isManagedList() && (isAvailable() || isMyPresent())" mat-icon-button (click)="reserveClicked()"
                matTooltip="{{getPresentTooltip()}}">
          <mat-icon *ngIf="!isMyPresent()">shopping_cart</mat-icon>
          <mat-icon *ngIf="isMyPresent()">remove_shopping_cart</mat-icon>
        </button>
        <button #settings mat-icon-button [disabled]="orderMode"
                (click)="settingsClicked()" matTooltip="Eigenschaften bearbeiten">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
      <div *ngIf="orderMode" class="description">{{wish.caption}}</div>

      <div *ngIf="!orderMode && isGroupGift()" class="wish-line">
        <div class="wish-half-width">
          <mat-form-field>
            <input matInput type="number" placeholder="Wert in Euro" [(ngModel)]="wish.estimatedPrice" (change)="onWishChange()" name="editPrice">
          </mat-form-field>
        </div>
        <div class="wish-half-width">
          <mat-form-field>
            <input matInput type="number" placeholder="Vorgeschlag Beteiligung" [(ngModel)]="wish.suggestedParticipation"
                   (change)="onWishChange()" name="editSuggestion">
          </mat-form-field>
        </div>
      </div>

      <div *ngIf="!orderMode" class="wish-line">
        <mat-form-field *ngIf="!orderMode" class="wish-full-width">
        <textarea matInput placeholder="Beschreibung" [(ngModel)]="wish.description" [disabled]="orderMode" matTextareaAutosize
                  (change)="onWishChange()" matAutosizeMinRows="2" matAutosizeMaxRows="5" name="editDescription"></textarea>
        </mat-form-field>
      </div>
      <div *ngIf="orderMode" class="description">{{wish.description}}</div>


      <div *ngIf="!orderMode" class="wish-line">
        <mat-form-field class="wish-url">
          <input matInput placeholder="Link" [(ngModel)]="wish.link" [disabled]="orderMode" (change)="onWishChange()" name="editLink">
        </mat-form-field>
        <a *ngIf="wish.link" [disabled]="orderMode" mat-icon-button target="_blank" href="{{targetUrl()}}" matTooltip="Seite öffnen">
          <i class="material-icons">link</i>
        </a>
      </div>
      <div *ngIf="wish.link && orderMode && !wish.caption && !wish.description" class="description">{{wish.link}}</div>

      <a class="wish-donor" *ngIf="wish.donor && !orderMode" href="mailto:{{wish.donor}}">{{wish.donor}}</a>
      <span *ngIf="wish.proxyDonor && !orderMode"> (durch <a href="mailto:{{wish.proxyDonor}}">{{wish.proxyDonor}}</a>)</span>
    </form>
  </div>
</mat-card>
