<h1 mat-dialog-title>An {{wish.caption}} beteiligen</h1>
<div mat-dialog-content>
  <div class="participate-dialog">
    @for (donationInEdit of donationsInEdit; track donationInEdit) {
      @if (!donationInEdit.isDeleted) {
        <donor-editor [donationInEdit]="donationInEdit" [userName]="user" (remove)="removeDonation($event)" (edit)="editDonation($event)"/>
      }
    }

    <hr class="separator-line">

    @if (donationInEdit) {
      <mat-form-field class="reserve-donor">
        <input #real_donor placeholder="für wen" matInput [(ngModel)]="donationInEdit.donation.donor" (ngModelChange)="onFieldChange()" cdkFocusInitial/>
      </mat-form-field>

      <mat-form-field class="participation-amount">
        <input #amount placeholder="Anteil" matInput type="number" [(ngModel)]="donationInEdit.donation.amount" (ngModelChange)="onFieldChange()"/>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="donationInEdit.donation.organiser" (ngModelChange)="onFieldChange()">ich kümmere mich um die Orga</mat-checkbox>
    }
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="newDonation()" >Beteiligung hinzufügen</button>
  <button mat-raised-button (click)="saveDonations()" [disabled]="!donationChanged() || hasDuplicateDonors()">Beteiligungen speichern</button>
</div>
