<div matLine>
  <span *ngIf="loggedIn && donation.amount">{{donation.amount}} € </span>
  <span *ngIf="loggedIn && donation.organiser">Organisator </span>
  <a *ngIf="!myPresent && loggedIn" href="mailto:{{donation.donor}}" class="highlighted">{{donation.donor}}</a>
  <a *ngIf="!myPresent && !loggedIn" class="highlighted" (click)="handleDonorClick()">Reservierung anzeigen</a>
  <span *ngIf="myPresent" class="highlighted">{{donation.donor}}</span>
  <span *ngIf="donation.proxyDonor && loggedIn"> (durch <a href="mailto:{{donation.proxyDonor}}">{{donation.proxyDonor}}</a>)</span>
</div>
