<div matLine>
  @if (first) {
    <hr class="separator-line">
  }
  @if (myPresent && donation.amount) {
    <span>{{donation.amount | euro: 2}} </span>
  }
  @if (!isMyDonation() && loggedIn) {
    <a href="mailto:{{donation.donor}}" class="highlighted">{{donation.donor}}</a>
  }
  @if (!isMyDonation() && !loggedIn && first) {
    <a class="highlighted" (click)="handleDonorClick()">Reservierung anzeigen</a>
  }
  @if (isMyDonation()) {
    <span class="highlighted">{{donation.donor}}</span>
  }
  @if (loggedIn && donation.organiser) {
    <span> </span>
    } @if (loggedIn && donation.organiser) {
    <span class="material-icons" style="vertical-align: bottom">manage_accounts</span>
  }
  @if (donation.proxyDonor && loggedIn) {
    <span> (durch <a href="mailto:{{donation.proxyDonor}}">{{donation.proxyDonor}}</a>)</span>
  }
</div>
