<mat-card [ngClass]="{ 'unavailable': !isAvailable(), 'background-red': isRed(), 'background-yellow': isYellow(),
'background-green': isGreen(), 'background-blue': isBlue(), 'group-gift': isGroupGift()}" *ngIf="wish.caption || wish.description" xmlns="http://www.w3.org/1999/html">
  <div class="wish-form">

    <select-toggle *ngIf="!restricted" [selected]="wish.selected" (selectionChange)="toggleSelection()"></select-toggle>

    <div class="wish-full-width">
      <div class="wish-line">
        <a *ngIf="wish.link" href="{{targetUrl()}}" target="_blank">
          <div class="caption" *ngIf="wish.caption">{{wish.caption}}</div>
          <div *ngIf="wish.description">{{wish.description}}</div>
        </a>
        <div *ngIf="!wish.link">
          <div class="caption" *ngIf="wish.caption">{{wish.caption}}</div>
          <div class="description" *ngIf="wish.description">{{wish.description}}</div>
        </div>
      </div>

      <link-viewer *ngFor="let link of wish.alternateLinks; let linkIndex = index" [link]="link" [index]="linkIndex" ></link-viewer>

      <price-information *ngIf="wish.groupGift" [wish]="wish"></price-information>
      <donor-viewer *ngFor="let donation of wish.donations; let first = first" [first]="first" [donation]="donation" [userName]="user"
                    [loggedIn]="isLoggedIn()"
                    [myPresent]="isMyPresent()"
                    (donorClicked)="handleDonorClick()"></donor-viewer>
    </div>
    <div>
      <donate-button *ngIf="isAvailable() || isMyPresent()" [groupGift]="wish.groupGift" [reserved]="isMyPresent()" (click)="reserveClicked()">
      </donate-button>
      <group-gift-button *ngIf="isAvailable() && !wish.groupGift" (click)="suggestGroupClicked()"></group-gift-button>
    </div>
  </div>

</mat-card>
