@if (wish.caption || wish.description) {
<mat-card appearance="outlined" [ngClass]="{ 'unavailable': !isAvailable(), 'background-red': isRed(), 'background-yellow': isYellow(),
'background-green': isGreen(), 'background-blue': isBlue(), 'group-gift': isGroupGift()}"
    xmlns="http://www.w3.org/1999/html">
    <div class="wish-form">
      @if (!restricted) {
        <select-toggle [selected]="wish.selected" (selectionChange)="toggleSelection()"></select-toggle>
      }
      <div class="wish-full-width">
        <div class="wish-line">
          @if (wish.link && !withAlternatives()) {
            <a href="{{targetUrl()}}" target="_blank">
              @if (wish.caption) {
                <div class="caption">{{wish.caption}}</div>
              }
            </a>
          }
          @if (!wish.link || withAlternatives()) {
            <div>
              @if (wish.caption) {
                <div class="caption">{{wish.caption}}</div>
              }
            </div>
          }

          @if (wish.images && wish.images.length > 0) {
            <div class="wish-image-gallery">
              @for (image of wish.images; track image) {
                <img [src]="image.url || image" alt="Wunsch-Bild" class="wish-img-preview">
              }
            </div>
          }

        </div>
        @if (wish.link || wish.description) {
          <content-viewer [content]="wish" [index]="withAlternatives() ? 1 : null"></content-viewer>
        }
        @for (content of wish.alternatives; track content; let contentIndex = $index) {
          <content-viewer [content]="content"
          [index]="contentIndex+2"></content-viewer>
        }
        @if (wish.groupGift) {
          <price-information [wish]="wish"></price-information>
        }
        @for (donation of wish.donations; track donation; let first = $first) {
          <donor-viewer [first]="first" [donation]="donation" [userName]="user"
            [loggedIn]="isLoggedIn()"
            [myPresent]="isMyPresent()"
          (donorClicked)="handleDonorClick()"></donor-viewer>
        }
      </div>
      <div>
        @if (isAvailable() || isMyPresent()) {
          <donate-button [groupGift]="wish.groupGift" [reserved]="isMyPresent()" (click)="reserveClicked()">
          </donate-button>
        }
        @if (isAvailable() && !wish.groupGift) {
          <group-gift-button (click)="suggestGroupClicked()"></group-gift-button>
        }
      </div>
    </div>
  </mat-card>
}
