<mat-expansion-panel #panel (opened)="panelOpened()" (closed)="panelClosed()" [ngClass]="{'open-list': panelOpenState, 'background-red': isRed(),
'background-yellow': isYellow(), 'background-green': isGreen(), 'background-blue': isBlue()}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="event" (click)="editEvent()" (click)="panel.toggle()">{{wishList.event}}</span>
    </mat-panel-title>
    <mat-panel-description>
      <span class="filler"><span class="managed" *ngIf="wishList.managed">(verwaltet)</span></span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="mat-body-1 wish-list-info">{{wishList.description}}</div>

  <wish-multi-column #wishColumns [wishes]="wishes" [orderMode]="orderMode"
                     (wishChange)="wishChanged($event)"
                     (wishSelection)="onWishSelection()">
  </wish-multi-column>

  <button (click)="addWish()" mat-fab matTooltip="Wunsch hinzufügen" class="add-button"><i
      class="material-icons">create</i></button>

  <mat-action-row *ngIf="wishIds || selectionCount">
    <button mat-button *ngIf="wishIds" (click)="pasteClicked()" matTooltip="markierte Wünsche einfügen">
      <i class="material-icons">add</i> {{wishIds.wishIds.length}} einfügen
    </button>
    <button mat-button *ngIf="selectionCount" (click)="publishSelection()" matTooltip="markierte Wünsche kopieren">
      <i class="material-icons">file_copy</i> {{selectionCount}} kopieren
    </button>
    <button mat-button *ngIf="selectionCount" (click)="deleteWishesClicked()" matTooltip="Auswahl löschen">
      <i class="material-icons">delete</i> {{selectionCount}} löschen
    </button>
  </mat-action-row>

  <mat-action-row>
    <button mat-button (click)="shareClicked()"
            matTooltip="Liste weitergeben">
      <i class="material-icons">share</i>
    </button>
    <button *ngIf="!orderMode" mat-button (click)="orderClicked()"
            matTooltip="Liste anordnen">
      <i class="material-icons">import_export</i>
      <i *ngIf="orderMode" class="material-icons">edit</i>
    </button>
    <button *ngIf="orderMode" mat-button (click)="orderClicked()"
            matTooltip="Liste bearbeiten">
      <i *ngIf="orderMode" class="material-icons">edit</i>
    </button>
    <button mat-button (click)="duplicateClicked()"
            matTooltip="Wunschliste kopieren!">
      <i class="material-icons">file_copy</i> Liste kopieren
    </button>
    <button mat-button (click)="deleteClicked()"
            matTooltip="Wunschliste löschen!">
      <i class="material-icons">delete_forever</i> löschen
    </button>
  </mat-action-row>
</mat-expansion-panel>
