<h1 mat-dialog-title>Aktionen für {{data.item}}</h1>
<div mat-dialog-actions class="dialog">
  <button mat-raised-button color="primary" class="button" [mat-dialog-close]="action.doShare" matTooltip="Liste weitergeben">
    <i class="material-icons">share</i> teilen
  </button>
  <button mat-raised-button color="primary" class="button" [mat-dialog-close]="action.doCopy" matTooltip="Wunschliste löschen!">
    <i class="material-icons">file_copy</i> Liste kopieren
  </button>
  <button mat-raised-button color="primary" class="button" [mat-dialog-close]="action.doDelete" matTooltip="Wunschliste löschen!">
    <i class="material-icons">delete_forever</i> löschen!
  </button>
</div>