<mat-expansion-panel #panel (opened)="panelOpened()" (closed)="panelClosed()" [expanded]="expanded"
                     [ngClass]="{'open-list': panelOpenState, 'background-red': isRed(), 'background-yellow': isYellow(),
                     'background-green': isGreen(), 'background-blue': isBlue()}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <span class="event">{{wishList.event}}</span>
    </mat-panel-title>
    <mat-panel-description>
      <span class="filler">{{wishList.owner | name}} <span *ngIf="wishList.managed">(Verwalter)</span></span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="mat-body-1 wish-list-info">{{wishList.description}}</div>
  <wish-view-multi-column  #wishColumns [wishes]="wishes" [user]="userStatus.name" (wishSelected)="onWishSelection()"
                          (reserved)="reserveClicked($event)"></wish-view-multi-column>
  <mat-action-row>
    <button mat-button *ngIf="wishesSelected" (click)="publishSelection()" matTooltip="markierte Wünsche kopieren">
      <i class="material-icons">file_copy</i> Auswahl kopieren
    </button>
    <button *ngIf="deleteEnabled" mat-button (click)="deleteClicked()"
            matTooltip="Wunschliste aus der Ansicht entfernen">
      <i class="material-icons">delete</i> Liste entfernen
    </button>
  </mat-action-row>
</mat-expansion-panel>
