<h1 mat-dialog-title>{{wish.caption}} reservieren</h1>
<div mat-dialog-content>
  <div class="reserve-dialog">
    <mat-form-field class="reserve-donor">
      <input #real_donor placeholder="für wen" matInput [(ngModel)]="dialogResult.donor" cdkFocusInitial/>
    </mat-form-field>
    <mat-form-field *ngIf="wish.groupGift" class="reserve-donor">
      <input #amount placeholder="Anteil" matInput type="number" [(ngModel)]="dialogResult.amount"/>
    </mat-form-field>
    <mat-checkbox *ngIf="wish.groupGift" [(ngModel)]="dialogResult.organiser">ich kümmere mich um die Orga</mat-checkbox>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="reserveForSomeoneElse()" [disabled]="isDonorEmpty()">im Auftrag</button>
  <button mat-raised-button (click)="reserveForMe()" >für mich</button>
</div>
