@if (orderMode) {
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    @for (wish of wishes; track wish) {
      <wish-edit [wish]="wish" [orderMode]="orderMode" [user]="user"
        (wishChange)="wishChanged($event)"
        (reserved)="reserveClicked($event)"
        (wishSelection)="onWishSelection($event)" cdkDrag>
      </wish-edit>
    }
  </div>
}
@if (!orderMode) {
  <div>
    @for (wish of wishes; track wish) {
      <wish-edit [wish]="wish" [orderMode]="orderMode" [user]="user"
        (wishChange)="wishChanged($event)"
        (reserved)="reserveClicked($event)"
        (wishSelection)="onWishSelection($event)">
      </wish-edit>
    }
  </div>
}
